h1, h2 {
    text-align: center;
}

.box {
    min-height: auto;
    width: 700px;
    background-color: rgb(194, 26, 26);
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */
    border-top-color: blue;
    border: 5px solid black;
    padding: 20px;
}