* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

h2 {
    font-style: italic;
}

p {

    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    /* font-style: italic; */
    padding: 10px;
}

.cover {
    display: none;
    /* height: auto; */
    width: 500px;
    margin: 50px auto 0px auto;
}

.box {
    /* display: inline-block; */
    min-height: auto;
    width: 300px;
    background-color: rgb(194, 26, 26);
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */
    border: 5px solid black;
    padding: 20px;
    margin: 20px 20px;
}

.link {
    padding: 20px;
    margin: 10px;
    width: 300px;
    display: block;
    border: solid 5px black;
}

.navigation {
    position: fixed;
    background-color: gray;
    top: 40px;
    right: 40px;
    width: 400px;
    height: 400px;
}

.navigation ol {
    position: inherit;
    top: 50px;
}

.border {
    border: solid 5px black;
}

#no-border {
    border-style: none;
}