h1, h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-style: italic;
}

p {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    /* font-style: italic; */
}

img {
    height: auto;
    width: 500px;
}

.box {
    min-height: auto;
    width: 700px;
    background-color: rgb(194, 26, 26);
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */
    border: 5px solid black;
    padding: 20px;
}
