* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 0 auto;
  width: 315px;
  height: 72px;
  border-radius: 4px;
  background: linear-gradient(
    0deg,
    rgba(255, 76.5, 0, 1) 0%,
    rgba(254, 176, 93, 1) 100%
  );
  color: rgba(255, 255, 255, 1);
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  padding: 0 15px;
  cursor: pointer;
}

.promo .btn {
  margin: 75px auto;
}

.promo {
  padding: 22px 0 58px 0;
  background: url("../img/first_screen/main_bg.jpeg") center center / cover
    no-repeat;
}

.logo__img {
  display: block;
  margin: 0 auto;
}

.logo__text {
  padding-top: 13px;
  color: rgba(255, 255, 255, 1);
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
}

.promo h1 {
  padding-top: 52px;
}

.promo h2 {
  padding-top: 12px;
}

.title {
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.title__big {
  color: rgba(255, 255, 255, 1);
  font-size: 80px;
  line-height: 80px;
}

.title__colored {
  color: rgba(249, 191, 59, 1);
  font-size: 41px;
  line-height: 41px;
}

.promo__text {
  margin-top: 20px;
  color: white;
  font-size: 21px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
}

.promo__text span {
  color: rgba(249, 191, 59, 1);
  text-transform: uppercase;
}

.promo__more-text {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.more__img {
  display: block;
  margin: 10px auto 0 auto;
}
